@model AppGestionStockMVC.Models.Produit

@{
    ViewBag.Title = "Détails du produit";
}

<h2>Détails du produit</h2>


        <div class="form-group">
    @Model.Name
        </div>

        <div class="form-group">
                @Model.Quantity
        </div>

        <div class="form-group">
    @Model.Price
        </div>
         

